@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: dark;
    scroll-behavior: smooth;
}

:root {
    /* Background */
    --bg-primary: #0a0a0c;
    --card-primary: #121214;

    /* Button / Accent */
    --btn-highlight: #2bd576;
    --btn-primary: #1e1e22;
    --btn-secondary: #121214;

    /* Text */
    --text-primary: #a1a1aa;
    --text-secondary: #71717a;
    --text-info: #52525b;
    --text-highlight: #ffffff;
    
    /* Brand Accent */
    --color-primary: #2bd576;
}

body {
    color: var(--text-primary);
    background: var(--bg-primary);
    overflow-x: hidden;
}

.spinner {
    color: var(--text-highlight);
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 3px;
    overflow: visible;
}

.spinner > circle {
    fill: none;
    stroke: currentColor;
    cx: 50%;
    cy: 50%;
    r: 50%;
    stroke-width: 3px;
    stroke-linecap: round;
    transform-origin: center;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
}
